name: AccuKnox IaC Scan Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      
      - name: Run IaC scan
        uses: ./
        with:
          file: 'example.tf'               # Provide the path to the file you want to scan
          # directory: .  # Provide the directory where your infrastructure code is located
          # compact: 'true'                 # Do not display code blocks in output
          quiet: 'true'                   # Display only failed checks
          output_format: cli,sarif
          output_file_path: console,results.sarif
          # framework: 'terraform'                # Run only on a specific infrastructure
          # skip_framework: 'dockerfile'         # Skip a specific infrastructure
          # soft_fail: 'true'              # Do not return an error code if there are failed checks
          # github_pat: ${{ secrets.GITHUB_TOKEN }}  # GitHub personal access token for accessing private repositories
          # enable_secrets_scan_all_files: 'true'  # Scan all files for secrets
          token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzEwNDAwNzM3LCJqdGkiOiI4ZDRiNmQ3Y2IzODM0M2Y0YmRiMzc1MjIzNzM2NmI3MyIsImlzcyI6ImNzcG0uZGV2LmFjY3Vrbm94LmNvbSJ9.ZeHoaDVdF2vX70FWE7cxKfepst63hX1JeDOkvkPZicxXmYMv5CHi4wWZ1zbrF-5F0_2rV6Nb3dADC-qo4l99dbK4XmbzjSg4wgUKE6ObwoFUo17LuNpIv23_jpOOIkx2DvrSVZCDvAwLqQUCpBzZjoLr3nNWu_OUnHmiLN8D8ttz92EOhLOE7vjehXL5tMSoZYtHf5OzuvMjWxhAo1EJ94GxO0B5n-mg4qZXdm5_6AHwUdW9smZY_XQ38FlQhuEo21BkgP2DTwrpn9ZECYswJaK8atHBo7TaDwCbdaq8nLceLtZQYpXv61SAF_NdBQ9AOxyRuWQVQeFvyoM4wcfqUg"
          endpoint: "cspm.dev.accuknox.com"
          tenant_id: "1034"          
      - name: Upload Json file
        uses: github/codeql-action/upload-sarif@v2
        
        # Results are generated only on a success or failure
        # this is required since GitHub by default won't run the next step
        # when the previous one has failed. Security checks that do not pass will 'fail'.
        # An alternative is to add `continue-on-error: true` to the previous step
        # Or 'soft_fail: true' to checkov.
        if: success() || failure()
        with:
          sarif_file: results.sarif
       
  # framework: ansible, argo_workflows, arm, azure_pipelines, bicep, bitbucket_pipelines, cdk, circleci_pipelines, cloudformation, dockerfile, github_configuration, github_actions, gitlab_configuration, gitlab_ci, bitbucket_configuration, helm, json, yaml, kubernetes, kustomize, openapi, sca_package, sca_image, secrets, serverless, terraform, terraform_json, terraform_plan, sast, sast_python, sast_java, sast_javascript, 3d_policy.
